.product {
  margin: 3em 1em 1em 1em;
  display: flex;
  flex-direction: row;

  > div:first-child {
    max-width: 20em;
  }

  .report {
    flex-grow: 1;
    margin-left: 1em;
  }
}

@media (width < 1000px) {
  .product {
    flex-direction: column;

    .report {
      margin-top: 3em;
      margin-left: 0;
    }
  }
}